<div class="container">
    <h1>Novo Usuário</h1>
    <div class="div_black">
        <%= render 'form', user: @user %>
    </div>
    <br>
    <button type="button" class="btn btn-danger">
        <%= link_to 'Voltar', users_path %>
    </button>
</div>